body {
    background-color: white;
    font-family: 'Agency FB';
}


.wrapperHeader {
    display: table;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0px;
    vertical-align: middle;
    background-color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 50;
    font-family: 'Agency FB';
}

    .wrapperHeader h1#header {
        color: #ff6a00;
        font-weight: normal;
        font-size: 130%;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 10px;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        padding: 0px;
        display: table-cell;
        width: 30%;
        vertical-align: middle;
        line-height: 1em;
        position: relative;
        transition-property: text-shadow;
        transition-duration: 1s;
        z-index: 50;
        left: 15px;
    }

        .wrapperHeader h1#header:hover {
            text-shadow: 1px 0px 20px #ff6a00;
        }

.logo-container img {
        position: fixed;
        width: 40px;
        height: 40px;
        left: 50px;
        top: 5px;
        transition: all 8s;
        z-index: 20;
        opacity: 0.3;
    }

/*.logo-container img:hover {
            transform: rotate(970deg) scale(1.5);
        }*/



.image-holder {
    width: 100%;
    height: 50vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 40;
    top: 50%;
}
.second-image-holder{
    width: 100%;
    height: 40vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 40;
}

.title {
    font-family: 'Agency FB';
    z-index: 41;
    position: relative;
    background-color: white;
    left: 3%;
    top: 25%;
    width: 490px;
    height: 80px;
    text-transform: uppercase;
    word-spacing: 2px;
    text-align: center;
}

.navbar-header{
    background-color:white;
    border:none;
    color: red;
    transition: all 8s;
    
}
.head1{
  
}
.navbar-header img:hover{
    transform: rotate(970deg) scale(1.5);
}
.navbar{
    background-color:white;
    border:none;
    width: 100%;
}
.navbar-nav{
      left: 70%;
    position:fixed;
}
.nav a{
    font-family:'Agency FB';
    font-size: 120%;
    letter-spacing: 1px;
    text-align:right;
    background-color:white;
    border:none;
     transition: text-shadow 1s;
}
.nav li a:hover{
    text-shadow: 1px 0px 20px #ff6a00;
}

.container-fluid{
    background-color:white;
    border:none;
}
.navbar-brand{
    font-family:'Agency FB';
    letter-spacing: 3px;
    color: #ff6a00;
    font-size: 130%;
}
.container-fluid:hover img {
    animation: 5s linear infinite;
}
@keyframes logo {
    50% {
        transform: rotateZ(180deg) scale(1.3);
    }

    100% {
        transform: rotateZ(360deg) scale(1);
    }
}
.surfer-img{
    width: 100%;
    height: 100%;
}

.row{
    padding: 3% 0% 0% 0%;
    font-family: 'Agency FB';
    font-size: 120%;
}
.row h1{
    transition: all 1s;
}
.row h1:hover{
    text-shadow: 1px 0px 20px #ff6a00;
}