@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie:regular);

body {
    font-family: Webdings;
}

.show {
    display: none;
}

ul li a:hover, ul li a:focus {
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}


ul li h2 {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
}

ul li p {
    font-family: Webdings;
    font-size: 180%;
}



.quote-container {
    margin-top: 50px;
    position: relative;
}

.note {
    color: #333;
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Reenie Beanie",arial,sans-serif;
    font-size: 30px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    text-align: center;
}

.yellow:hover .show {
    display: block;
}

.yellow:hover {
    background: #ff68ba;
    zoom: 1.5;
    animation: dangeling 1.0s ease-in-out forwards infinite;
}


.yellow {
    background: #eae672;
    transform: rotate(6deg);
}



.yellow:hover {
}

@keyframes dangeling {
    0% {
        transform: rotate(35deg);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(35deg);
    }
}
