@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie:regular);

body {
    font-family: Webdings;
}

.show {
    display: none;
}

ul li a:hover, ul li a:focus {
    -moz-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position: relative;
    z-index: 5;
}


ul li h2 {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
}

ul li p {
    font-family: Webdings;
    font-size: 180%;
}



.quote-container {
    margin-top: 50px;
    position: relative;
}

.note {
    color: #333;
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Reenie Beanie",arial,sans-serif;
    font-size: 30px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    text-align: center;
}

.yellow:hover .show {
    display: block;
}

.yellow:hover {
    background: #ff68ba;
    zoom: 1.5;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: dangeling 1.0s ease-in-out forwards infinite;
    animation: dangeling 1.0s ease-in-out forwards infinite;
}


.yellow {
    background: #eae672;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(6deg);
}

.pin {
    background-color: #aaa;
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: -16px;
    z-index: 1;
}

    .pin:after {
        background-color: #A31;
        background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1), inset 3px 3px 3px hsla(0,0%,100%,.2), inset -3px -3px 3px hsla(0,0%,0%,.2), 23px 20px 3px hsla(0,0%,0%,.15);
        content: '';
        height: 12px;
        left: -5px;
        position: absolute;
        top: -10px;
        width: 12px;
    }

    .pin:before {
        background-color: hsla(0,0%,0%,0.1);
        box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
        content: '';
        height: 24px;
        width: 2px;
        left: 0;
        position: absolute;
        top: 8px;
        transform: rotate(57.5deg);
        -moz-transform: rotate(57.5deg);
        -webkit-transform: rotate(57.5deg);
        -o-transform: rotate(57.5deg);
        -ms-transform: rotate(57.5deg);
        transform-origin: 50% 100%;
        -moz-transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
    }

.yellow:hover {
}

@keyframes dangeling {
    0% {
        transform: rotate(35deg);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(35deg);
    }
}
